* {
  color: white;
  font-family: roboto;
}

.nav_logo {
  height: 60px;
  width: 80px;
}

.nav-wrapper {
  margin-top: calc(100vh - 64px) !important;
}

.slider {
  height: calc(100vh - 64px) !important;
}

#apprendre {
  min-height: calc(100vh - 64px);
  padding: 20px;
  background-image: url("../img/img_1_color.jpeg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  transition: 1s;
}

#apprendre:hover {
  -webkit-filter: grayscale(0%);
  transition: 1s;
}

#projet {
  min-height: calc(100vh - 64px);
  padding: 20px;
  background-image: url("../img/img_2_color.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  transition: 1s;
}

#projet:hover {
  -webkit-filter: grayscale(0%);
  transition: 1s;
}

#stagiaire {
  min-height: calc(100vh - 64px);
  padding: 20px;
  background-image: url("../img/img_3_color.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  transition: 1s;
}

#stagiaire:hover {
  -webkit-filter: grayscale(0%);
  transition: 1s;
}

#aider {
  min-height: calc(100vh - 64px);
  padding: 20px;
  background-image: url("../img/img_4_color.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  transition: 1s;
}

#aider:hover {
  -webkit-filter: grayscale(0%);
  transition: 1s;
}
